# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
runServer
tp 1.12 src.rar
SetupDecompWorkspaceEclipse.bat
.DS_Store
logs/latest.log
*.log
